button {
  /* display: inline; */
  padding: 5px 80px;
}

.container-fluid {
  background-color: rgba(255, 0, 0, 0.3);
  height: 100vh;
}

.bottom {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

#player-total,
#com-total {
  display: inline;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.reset {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
